@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply h-[100vh] bg-[#efdac7] flex items-center justify-center px-3 font-sans font-normal relative;
}
.wrapper {
  @apply max-w-sm mx-auto w-[100%] h-[90vh] overflow-hidden border-2 border-[#988371] rounded-2xl flex items-center justify-center flex-col px-3 pb-4 pt-2 sm:px-4 sm:pb-6 sm:pt-3;
}
.top {
  @apply font-medium flex justify-between items-center w-[100%] pl-3 pb-5 pt-2;
}
.button {
  @apply px-4 py-2 flex items-center border-2 rounded-xl hover:cursor-pointer;
  border-color: #222325;
  color: #222325;
}
.word {
  @apply rounded w-[100%] text-center px-1 py-[5%] sm:px-2 sm:py-[10%] h-[100%] flex flex-col justify-around;
  &__text {
    @apply font-semibold text-xl text-white transition-all;
  }
  & + & {
    margin-top: 12px;
  }
}
.btn-text {
  @apply text-[#222325] text-lg font-medium mr-1;
  &-left {
    @apply ml-1 mr-0;
  }
}

// system slider styles
.swiper {
  max-width: 320px;
  width: 100%;
  height: 460px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide:nth-child(1n) {
  background-color: #c2aa94;
}
.swiper-slide:nth-child(2n) {
  background-color: #c9b7a7;
}
.swiper-slide:nth-child(3n) {
  background-color: #b5a596;
}
@media (max-width: 375px) {
  .swiper {
    max-width: 290px;
    width: 100%;
    height: 340px;
  }
}
@media (max-width: 350px) {
  .swiper {
    max-width: 260px;
    width: 100%;
    height: 300px;
  }
}

@media (max-height: 600px) {
  .swiper {
    height: 260px;
  }
}